.mark {
	width: 100vw;
	height: 100vh;
	background-color: rgba(30, 30, 30, 1);
	position: absolute;
	top: 0;
	right: 0;
	z-index: 10;
	/* font-family: '华文正楷'; */
}
.text {
	position: absolute;
	top: 65%;
	left: 50%;
	transform: translate(-50%);
	color: #05afd1;
	height: 20px;
	z-index: 10;
	font-size: 1.5rem;
}
.base {
	height: 9em;
	margin: -7.5em;
	padding: 3em;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 9em;
	transform: rotateX(45deg) rotateZ(45deg);
	transform-style: preserve-3d;
	z-index: 10;
}
.cube,
.cube:after,
.cube:before {
	content: '';
	float: left;
	height: 3em;
	position: absolute;
	width: 3em;
}
.cube {
	background-color: #0088b5;
	position: relative;
	transform: translateZ(3em);
	transform-style: preserve-3d;
	transition: 0.25s;
	box-shadow: 13em 13em 1.5em rgba(0, 0, 0, 0.1);
	animation: anim 1s infinite;
}
.cube:after {
	background-color: #049dbc;
	transform: rotateX(-90deg) translateY(3em);
	transform-origin: 100% 100%;
}
.cube:before {
	background-color: #048ca7;
	transform: rotateY(90deg) translateX(3em);
	transform-origin: 100% 0;
}
.cube:nth-child(1) {
	animation-delay: 0.05s;
}
.cube:nth-child(2) {
	animation-delay: 0.1s;
}
.cube:nth-child(3) {
	animation-delay: 0.15s;
}
.cube:nth-child(4) {
	animation-delay: 0.2s;
}
.cube:nth-child(5) {
	animation-delay: 0.25s;
}
.cube:nth-child(6) {
	animation-delay: 0.3s;
}
.cube:nth-child(7) {
	animation-delay: 0.35s;
}
.cube:nth-child(8) {
	animation-delay: 0.4s;
}
.cube:nth-child(9) {
	animation-delay: 0.45s;
}
@keyframes anim {
	50% {
		transform: translateZ(0.5em);
	}
}
